.pagenotfound {
  height: calc(100vh - 4rem);
  margin: 2.5rem;
}

.pagenotfound section {
  display: flex;
  flex-direction: column;
  height: 55%;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  text-align: center;
}
